* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f1d863;
}

h3 {
  margin-bottom: 1rem;
}
/*******Code********/
.code-block {
  display: block;
  margin: 1rem;
}
pre{
  color: #d63384;
  border: 1px solid darkgray;
}
p.tag{
  margin-inline-start: 1rem;
  font-weight: 600;
  margin-bottom: 4px;
}
/******* Boton de volver*******/
.btn-bg-color {
  background-color: var(--primary-color);
  border: none;
}
.btn.res {
 display: block;
}
/*******Media Querie para pantallas chicas*******/
@media (max-width: 576px) {
  h1 {
    font-size: 1.25rem;
  }
}

